aiogram==2.14.3
aiohttp==3.7.4.post0
args==0.1.0
async-timeout==3.0.1
attrs==21.2.0
autopep8==1.5.7
Babel==2.9.1
beautifulsoup4==4.9.3
bs4==0.0.1
caos-reborn==2.0.1
certifi==2020.12.5
chardet==3.0.4
charset-normalizer==2.0.4
Choco==1.0.5
click==7.1.2
clint==0.5.1
colorama==0.4.4
configparser==5.0.2
html2text==2020.1.16
html5lib==1.1
idna==2.10
kokos==1.13.19
lxml==4.6.3
MarkupSafe==1.1.1
multidict==5.1.0
osgeo==0.0.0
pycodestyle==2.7.0
PySide2==5.15.2
pyTelegramBotAPI==3.8.2
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
shiboken2==5.15.2
six==1.16.0
some-package==0.1
soupsieve==2.1
toml==0.10.2
tqdm==4.59.0
typing-extensions==3.10.0.0
urllib3==1.26.2
webencodings==0.5.1
xlrd==2.0.1
yarl==1.6.3
